/* Reset Styles */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* Fonts */
@font-face {
    font-family: 'norse-bold';
    src: url('/fonts/norse-bold-webfont.woff2') format('woff2'),
         url('/fonts/norse-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Custom Properties */
:root {
    /* Image Sidebar */
    --logo-bg-color: rgb(0, 0, 0, 0.4);
    --logo-font-size: 6rem;

    /* Form content */
    --form-text-height: 20rem;
}

/* Main Styles */
body, #form-container {
    display: flex;
}

/* Image sidebar styles */
#image-container {
    position: relative;
    flex-shrink: 0;
}

#logo-container {
    display: flex;
    position: absolute;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--logo-bg-color);
    padding: 1rem 0;
    margin-top: 10rem;
}

#logo-text {
    font-family: 'norse-bold', sans-serif;
    font-size: var(--logo-font-size);
    color: white;
}

#image-bg {
    height: 100vh;
    width: auto;
}

#image-credits {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%);
    color: white;
}

#image-credits a {
    color: white;
}

/* Form content styles */
#form-container {
    flex-direction: column;
}

#form-text {
    height: var(--form-text-height);
}

