/* Reset Styles */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* Fonts */
@font-face {
    font-family: 'norse-bold';
    src: url('../fonts/norse-bold-webfont.woff2') format('woff2'),
         url('../fonts/norse-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Custom Properties */
:root {
    /* Image Sidebar */
    --logo-bg-color: rgb(0, 0, 0, 0.4);
    --logo-font-size: 6rem;

    /* Form content */
    --form-container-bg: rgb(248, 249, 251);
    --form-left-align: 2.5rem;
    --subtle-shadow: 5px 5px 3px rgb(0, 0, 0, 0.1);
    --input-border-color: #E5E7EB;
}

/* Main Styles */
body, #form-container {
    display: flex;
}

/* Image sidebar styles */
#image-container {
    position: relative;
    flex-shrink: 0;
}

#logo-container {
    display: flex;
    position: absolute;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--logo-bg-color);
    padding: 1rem 0;
    margin-top: 10rem;
}

#logo-text {
    font-family: 'norse-bold', sans-serif;
    font-size: var(--logo-font-size);
    color: white;
}

#image-bg {
    height: 100vh;
    width: auto;
}

#image-credits {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%);
    color: white;
}

#image-credits a {
    color: white;
}

/* Form content styles */
#form-container {
    background-color: var(--form-container-bg);
    flex-direction: column;
}

#form-text {
    padding: 7rem 8rem 3rem var(--form-left-align);
    font-size: 1.5rem;
    font-weight: bold;
}

#form-text #end {
    padding-top: 1rem;
}

form {
    padding: 1.8rem 7rem;
    padding-left: var(--form-left-align);
    background-color: white;
    box-shadow: var(--subtle-shadow);
    width: 100%;
}

form ul {
    width: 100%;
    display: flex;
    gap: 1.5rem 4rem;
    flex-wrap: wrap;
}

.required-form::before {
    content: '*';
    color: red;
}

form input {
    width: 35ch;
    border: 2px solid var(--input-border-color);
    border-radius: 5px;
    outline: none;
    padding: .25rem;
}

form input:invalid {
    border-color: red;
}

form input:placeholder-shown{
    border-color: var(--input-border-color);
}

form input:focus {
    border-color: lightblue;
    box-shadow: var(--subtle-shadow);
}
form #cta {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

.form-item {
    display: flex;
    flex-direction: column;
    min-width: 1px;
    margin: 0 auto;
    flex: 1 1 45%;
}

#submit-container {
    padding-left: var(--form-left-align);
}

#submit-container button {
    margin-top: 2rem;
    background-color: #596D48;
    border: 0;
    border-radius: 5px;
    padding: .75rem 3rem;
    color: white;
    font-weight: bold;
}

#submit-container button:hover {
    cursor: pointer;
    filter: brightness(110%);
}

#submit-container p {
    margin-top: 2rem;
}

#submit-container p a {
    color: #596D48;
}